{% extends 'base.html.twig' %}
{%block body %}
<div class="container">
    <div class="login-form">
        <h2>Modifier une Category</h2></br> </br>
        {{form_start(form)}}
            {{ form_widget(form.name,{'attr':{'class':'form form-control','placeholder':"nom"}}) }}</br>
            <input type="submit" value="Modifier" class="btn btn-primary">
        {{form_end(form)}}
    </div>
</div>
{%endblock%}