{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
<div class="container"><br><br>
    <a class="btn btn-outline-primary" href="{{ path('app_sub_category_index') }}">back to list</a>
    <h1>Modifier une sous categorie</h1><br><br>

    {{ include('sub_category/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('sub_category/_delete_form.html.twig') }}
</div>
{% endblock %}
