body {
}
.login-form{
    width: 500px;
    padding: 15px;
    margin: auto;
}
.btn-block{
    display: block;
    width: 100%;
}
.security-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}